services:
  - type: web
    name: chefcode-landing-page
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production

